MONGOURI=mongodb://localhost:27017/verdikt
PORT=5000
JWTSECRET=replace-with-your-secret-key

CLOUDINARYNAME=your-cloudinary-name
CLOUDINARYAPIKEY=your-cloudinary-api-key
CLOUDINARYAPISECRET=your-cloudinary-api-secret
